.register_title{
    text-align: center;
    font-weight: normal;
    padding-bottom: 1.5em;
}

.register_box{
    width: 60%;
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.submit{
    background-color: slateblue;
    width: 100%;
}

.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.errors {
    width: 92%; 
    margin: 0px auto; 
    padding: 10px; 
    border: 1px solid #a94442; 
    color: #a94442; 
    background: #f2dede; 
    border-radius: 5px; 
    text-align: left;
  }
.success {
color: #3c763d; 
background: #dff0d8; 
border: 1px solid #3c763d;
margin-bottom: 20px;
}


/* Practice CSS */

.details{
    height: 500px;
    padding-top: 7em;
    border: 3px solid #55bfe0;
    
}

table{
    width: 80%;
    height: 200px;
}

.profile{
    width: 80%;
    margin-top: 6%;
    position: absolute;
    left: 15%;
    top: 7%;

   
}

.info{
    width:30%;
    height: 50%;
    position: absolute;
    left: 10%;
    top: 20%;
}

.score-table{
    position: absolute;
    right: 10%;
    top: 30%;
}

#profile-title{
    margin-bottom: 10%;
}

/* Home */

.photos{
    margin-top: 5%;
}